* {
  font-family: verdana;
  /*outline: orange 2px dashed;*/
}

h1 {
  color: #0B185B;
  font-size: 250%;
  font-weight: bold;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  width: 90%;
  margin: 5%;
}

h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 125%;
}

#info {
  font-size: 125%;
  font-weight: bold;
}

/*#narrative {
  margin: 2%];
}*/

#travel {
  font-size: 125%;
  font-weight: bold;
}
